***REMOVED*** dependencies
/node_modules
/.pnp
.pnp.js

***REMOVED*** testing
/coverage

***REMOVED*** next.js
/.next/
/out/

***REMOVED*** production
/build

***REMOVED*** misc
.DS_Store
*.pem

***REMOVED*** debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

***REMOVED*** env
.env*.local
.env

***REMOVED*** typescript
*.tsbuildinfo
next-env.d.ts.bak

***REMOVED*** vercel
.vercel

***REMOVED*** storybook static build (output of `pnpm storybook:build`)
/storybook-static
